{include file="layouts/header" /}

    <!-- 当前页面css -->
    {css href="/static/app/message/css/message.css" /}

<div class="container">
	<div class="weui-search-bar" id="searchBar">
		  <form class="weui-search-bar__form" action="/Base/search" method="POST">
		    <div class="weui-search-bar__box">
		      <i class="weui-icon-search"></i>
		      <input type="text" class="weui-search-bar__input" name="search" id="searchInput" placeholder="搜索" required="">
		      <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
		    </div>
		    <label class="weui-search-bar__label" id="searchText">
		      <i class="weui-icon-search"></i>
		      <input type="submit" value="搜索" class="btn_submit">
		    </label>
		  </form>
		  <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
	</div>
	<div class="weui-panel weui-panel_access message">
	  	<div class="weui-panel__bd">
	  		{if $data.programa_articleData}
	  			{foreach name="data.programa_articleData" item="v" key="k"}
		    <a href="/app/websitewap/websitewap?pid={$v.pid}&paid={$v.id}" class="weui-media-box weui-media-box_appmsg">
		      	<div class="weui-media-box__bd">
		        	<h4 class="weui-media-box__title">{$v.title}</h4>
		        	<p class="weui-media-box__desc">
		        		<span class="cTime">{$v.ctime|date="Y-m-d",###}</span>
					</p>
		      	</div>
		      	<div class="weui-media-box__hd">
		        	<img class="weui-media-box__thumb" src="{$v.cover_path}">
		      	</div>
		    </a>
		    {/foreach}
		    {/if}
		</div>

	</div>
</div>


{include file="layouts/footer" /}