{include file="layouts/header" /}
{include file="layouts/nav" /}
{include file="layouts/menu" /}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 用户管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 用户列表</h3>
      </div>
      <form action="/admin/AdminUser/index" method="post">
        <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="search" placeholder="请输入搜索关键字">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
      <div class="panel-body">
        {if condition="(!$data->isEmpty())"}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>用户名</th>
              <th>类型</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {foreach name="data" item="v" key="k" }
            <tr>
               <td>
                 {if condition="($v.status == 0)"}
                  <span class="text-success">{正常}</span>
                 {else /}
                  <span class="text-danger">{冻结}</span>
                 {/if}
               </td>
               <td>{$v.username}</td>
               <td>
                 {if condition="($v.type == 0)"}
                  <span class="text-danger">{超级管理员}</span>
                 {else /}
                  <span class="text-info">{普通管理员}</span>
                 {/if}
               </td>
               <td>{$v.ctime|date="Y-m-d H:i",###}</td>
               <td>
                {if condition="($v.type == 0)"}
                  #
                {else /}
                  <button type="button" class="btn btn-primary btn-xs" onclick="edit({$v.id});">编辑</button>
                  <button type="button" class="btn btn-default btn-xs" onclick="del({$v.id});">删除</button>
                  <button type="button" class="btn btn-danger btn-xs" onclick="permissions({$v.id});">权限管理</button>
                {/if}
               </td>
            </tr>
            {/foreach}
          </tbody>
        </table>
        {else /}
        <blockquote>
          <p>暂无数据</p>
        </blockquote>
        {/if}
        <div style="float: right;">
          {$data->render()}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{include file="layouts/footer" /}

<!-- 引入当前页面js -->
{js href="/static/admin/admin_user/js/index.js"}