<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>重庆MBA招生考试服务平台</title>
    <!-- Bootstrap -->
    {css href="/static/bootstrap/css/bootstrap.min.css" /}
    <!-- Bootstrap验证插件 -->
    {css href="/static/bootstrapvalidator/dist/css/bootstrapValidator.css" /}
    <!-- sweetalert弹窗插件 -->
    {css href="/static/sweetalert2/dist/sweetalert2.min.css" /}

    <!-- 谷歌字体 -->
    <link href='https://fonts.cat.net/css?family=Open+Sans' rel='stylesheet'>

    <!-- jQuery WEUI -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <!-- 当前页面css -->
    {css href="/static/index/layouts/css/layouts.css" /}

  </head>
  <body>    
<div class="header">
    <!-- 顶部通用栏 一 -->
    <div class="top-nav-wrapper">
        <div class="top-nav-index">
            <div class="top-list"><a href="#" target="_blank">重庆MBA招生考试服务平台</a></div>
            <div class="top-list textCon"><a href="#" target="_blank">重庆MBA院校信息发布平台</a></div>
            <div class="top-list textR"><a href="#" id="favorites">加入收藏</a></div>
        </div>
    </div>
    <!-- 顶部通用栏 二 -->
        <div class="header-wrapper">
            <div class="header-index">
                <a href="/" class="header-index-img lt" ><img src="/static/images/logo.png" alt="重庆MBA院校信息发布和咨询平台" title="重庆MBA院校信息发布和咨询平台"></a>
                <div class="header-index-text  lt">
                    <a href="/" >重庆MBA院校信息发布和咨询平台</a>
                    <a href="#" class="rt">院校登陆</a>
                </div>
                <!-- 搜索框 -->
                <div class="header-index-search lt">
                    <input type="text" name="" placeholder="站内搜索" maxlength="40">
                    <button type="submit" class="search_btn" id="searchBtn"><i class="glyphicon glyphicon-search" title="站内搜索"></i></button>
                </div>
            </div>
        </div>
    <!-- 顶部通用栏 三 -->
        <div class="header-nav-box">
            <div class="nav-box">
                <div class="nav-box-list nav-box-first">
                    <div class="nav-box-list-title  lt">首页</div>
                    <ul>
                        <li><a href="#">招生咨询</a></li>
                        <li><a href="#">考试咨询</a></li> 
                    </ul>
                </div>
                <div class="br1"></div>
                <div class="nav-box-list">
                    <div class="nav-box-list-title lt">院校</div>
                    <ul>
                        <li><a href="#">重庆大学</a></li>
                        <li><a href="#">重庆工商大学</a></li>
                        <li><a href="#">重庆理工大学</a></li>
                        <li><a href="#">西南大学</a></li>
                        <li><a href="#">重庆师范大学</a></li>  
                    </ul>
                </div>
                <div class="br"></div>
                <div class="nav-box-list nav-box-last">
                    <div class="nav-box-list-title lt">考试</div>
                    <ul>
                        <li><a href="#">初试</a></li> 
                        <li><a href="#">复试</a></li>
                        <li><a href="#">英语</a></li>
                        <li><a href="#">数学</a></li>
                        <li><a href="#">逻辑</a></li>
                        <li><a href="#">写作</a></li>    
                    </ul>
                </div>
            </div>
            
        </div>
    
</div>

