

<div class="rt right_aside">
	<div class="oneBox first">
		<!-- 招考广告  -->
		<div class="row ">
			<div class="oneBox_right col-md-12">
					<!-- 招考广告 -->
					<div class="col-md-12">
						<div class="oneBox_title">
							<span class="oneBox_title_bd">招考公告</span>
							<a href="#" class="rt">更多></a>
						</div>
						<div class="oneBox_body">
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
						</div>
					</div>
					<!-- 广告位 -->
					<div class="col-md-12">
						<div class="oneBox_top_ad">
							<img src="/static/images/icon.png">
						</div>
					</div>
			</div>	
		</div>
		

		<!-- 2L-右  -->
		<div class="row oneBox">
			<div class="col-md-12 oneBox_right">
					<div class="col-md-12">
						<div class="oneBox_title">
						<span class="oneBox_title_bd">请扫描下方二维码</span>
					</div>
					<div class="h10"></div>
					</div>
					<!-- 手机站(二维码/域名) -->
					<div class="col-md-12">
							<div class="lt second_QR_hd">
								<span>手机站二维码</span>
							</div>
							<div class="lt second_phone_img"><img src="/static/images/phone.png" alt="手机站二维码" title="手机站二维码"></div>
					</div>
					<div class="h10"></div>
					<!-- 微信 -->
					<div class="col-md-12">
							<div class="lt second_QR_hd">
									<span>公众号二维码</span>
							</div>
							<div class="lt second_phone_img"><img src="/static/images/wx.png" alt="公众号二维码" title="公众号二维码"></div>
					</div>
					<div class="h16"></div>
					<!-- 院校推荐 -->
					<div class="col-md-12">
						<div class="oneBox_title">
							<span class="oneBox_title_bd">院校推荐</span>
							<a href="#" class="rt">更多></a>
						</div>
						<div class="oneBox_body">
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="#">重庆地质大学(武汉)2018年接收推免生章程</a></div>
							</div>
						</div>
						<!-- 广告位 -->
						<div class="oneBox_top_ad">
							<img src="/static/images/icon.png">
						</div>

					</div>
		</div>
		</div>
		
	</div>
		
</div>
