{include file="layouts/header" /}
{include file="layouts/nav" /}
{include file="layouts/menu" /}

  <!-- Page -->
  <div class="page animsition">
    <div class="page-header">
      <h1 class="page-title"># 仪表盘</h1>
    </div>
    <div class="page-content container-fluid">
      <div class="row">

          <div class="row">

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">次</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"访问量"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">个</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"栏目"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">篇</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"栏目文章"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">个</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"后台用户"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"Banner广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"活动预告广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"院校推荐广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"顶部广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"资讯热线广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"院校发布广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"考试资讯广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"合作伙伴广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"Logo图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">张</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"手机二维码广告图片"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

            <div class="col-md-4">
              <!-- Widget -->
              <div class="widget">
                <div class="widget-content padding-35 bg-white clearfix">
                  <div class="pull-left white">
                    <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                  </div>
                  <div class="counter counter-md counter text-right pull-right">
                    <div class="counter-number-group">
                      <span class="counter-number">25</span>
                      <span class="counter-number-related text-capitalize">个</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">"友情链接"</div>
                  </div>
                </div>
              </div>
              <!-- End Widget -->
            </div>

          </div>

      </div>
    </div>
  </div>
  <!-- End Page -->

{include file="layouts/footer" /}