<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>重庆MBA招生考试服务平台</title>
    <meta  name="description" content="重庆MBA招生考试服务平台">
    <meta name="keywords" content="MBA 考研">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Bootstrap -->
    {css href="/static/bootstrap/css/bootstrap.min.css" /}
    <!-- Bootstrap验证插件 -->
    {css href="/static/bootstrapvalidator/dist/css/bootstrapValidator.css" /}
    <!-- sweetalert弹窗插件 -->
    {css href="/static/sweetalert2/dist/sweetalert2.min.css" /}

    <!-- 谷歌字体 -->
    <link href='https://fonts.cat.net/css?family=Open+Sans' rel='stylesheet'>

    <!-- jQuery WEUI -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <!-- 当前页面css -->
    {css href="/static/app/layouts/css/layouts.css" /}

  </head>
  <body>    
    <!-- 头部开始 -->
  <div class="header">
    <div class="weui-flex">
      <div class="weui-flex__item">
          <img src="/static/images/app_logo.png">
      </div>
      <div class="weui-flex__item">
          <p>重庆MBA院校信息发布和咨询平台</p>
      </div>
    </div>
    <div class="weui-flex backg333 posR">
      <ul class="expand-list">
        <li><a href="/app/index/index">首页</a></li>
        <li><a href="/app/message/message">重庆大学</a></li>
        <li><a href="/app/websitewap/websitewap">工商大学</a></li>
        <li><a href="#">西南大学</a></li>
        <li><a href="#">师范大学</a></li>
        <li><a href="#">重庆大学</a></li>
        <li><a href="#">工商大学</a></li>
        <li><a href="#">西南大学</a></li>
        <li><a href="#">师范大学</a></li>
        <li><a href="#">重庆大学</a></li>
        <li><a href="#">工商大学</a></li>
        <li><a href="#">西南大学</a></li>
        <li><a href="#">师范大学</a></li>
      </ul>
      <div class="toggle-area" >
        <i class="glyphicon glyphicon-chevron-down"></i>
        <!-- <i class="glyphicon glyphicon-chevron-up"></i> -->
      </div>
    </div>
    <div class="weui-flex">
      <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ><img src="/static/images/banner.png" alt=""></div>
          <div class="swiper-slide" ><img src="/static/images/banner.png" alt=""></div>
          <div class="swiper-slide" ><img src="/static/images/banner.png" alt=""></div>
        </div>
        <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>





