{include file="layouts/header" /}

<!-- 当前页面css -->
    {css href="/static/index/index/css/index.css" /}

<div class="container">
	<!--  1L 开始  -->
	<div class="row">
		<!-- 重庆MBA热点关注 -->
		<div class="col-md-3"></div>
		<!-- 幻灯片 -->
		<div class="col-md-6"></div>
		<!-- 招考广告  -->
		<div class="col-md-3">
			<!-- 招考广告 -->
			<div class="col-md-12"></div>
			<!-- 咨询热线 -->
			<div class="col-md-12"></div>
		</div>	
	</div>
	<!-- 1L 结束 -->

	<!-- 2L 开始-->
	<div class="row">
		<!-- 2L-左 重庆MBA 活动预告 -->
		<div class="col-md-3"></div>
		<!-- 2L中 招生质询/考试咨询 -->
		<div class="col-md-6">
			<!-- 招生咨询 -->
			<div class="col-md-12"></div>
			<!-- 考试咨询 -->
			<div class="col-md-12"></div>
		</div>
		<!-- 2L-右  -->
		<div class="col-md-3">
			<!-- 手机站(二维码/域名) -->
			<div class="col-md-12"></div>
			<!-- 微信 -->
			<div class="col-md-12"></div>
			<!-- 院校推荐 -->
			<div class="col-md-12"></div>
		</div>	
	</div>
	<!-- 2L 结束 -->

	<!-- 3L 开始 -->
	<div class="row">
		<!-- 广告位一 -->
		<div class="col-md-6"></div>
		<!-- 广告位一 -->
		<div class="col-md-6"></div>
	</div>
	<!-- 院校发布 -->
	<div class="row">
		<!-- 院校发布 -->
		<div class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<!-- 广告位 -->
		<div class="col-md-6"></div>
		<div class="col-md-6"></div>
	</div>
	<!-- 3L 结束 -->

	<!-- 4L 开始 -->
	<div class="row">
		<!-- 考试咨询 综合咨询 初试 复试 英语 数学 逻辑 写作 -->
		<div class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>
	<!-- 4L 结束 -->
</div>


{include file="layouts/footer" /}