{include file="layouts/header" /}

<!-- 当前页面css -->
    {css href="/static/index/index/css/index.css" /}

<div class="container">
	<!--  1L 开始  -->
	<div class="lt left_aside">
		<div class="oneBox row first">
			<!-- 重庆MBA热点关注 -->

			<div class="oneBox_left col-md-3">
				<div class="oneBox_title">
					<span class="oneBox_title_bd">重庆MBA热点关注</span>
					<a href="/Message/message?type=3" class="rt" target="_blank">更多></a>
				</div>
				
				<div class="oneBox_body">
					{if $data.hotData}
						{foreach name="data.hotData" item="v" key="k"}
					<div class="oneBox_body_list">
						<div class="yd">·</div>
						<div class="oneBox_body_list_bd"><a href="/Websitewap/websitewap?type={$v.type}&paid={$v.id}" target="_blank">{$v.title}</a></div>
					</div>
					{/foreach}
					{/if}
				</div>
			</div>
			<!-- 幻灯片 -->
			<div class="oneBox_center col-md-6">
				<!-- 轮播图 -->
				<div id="myCarousels" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
			            <ol class="carousel-indicators">
			              <li data-target="#myCarousels" data-slide-to="0" class="active"></li>
			              <li data-target="#myCarousels" data-slide-to="1"></li>
			              <li data-target="#myCarousels" data-slide-to="2"></li>
			              <li data-target="#myCarousels" data-slide-to="3"></li>
			            </ol>
					    <!-- 轮播（Carousel）项目 -->
					    <div class="carousel-inner banner_bd" role="listbox">
					    	{if $data.bannerData}
								{foreach name="data.bannerData" item="v" key="k"}
							<div {if $k == 0}class="item active"{else/}class="item"{/if}>
					        	<div class="third_header_aside">
					        		<a href="{$v.img_link}" target="_blank">
					        			<img src="{$v.img_path}" alt="{$v.id}">
					        		</a>
								</div>
					        </div>
							{/foreach}
							{/if}       
					    </div>
					    <!-- 轮播（Carousel）导航 -->
					    <a class="left carousel-control" href="#myCarousels" data-slide="prev">  
				            <span class="glyphicon glyphicon-chevron-left"></span>  
				        </a>  
				        <a class="right carousel-control" href="#myCarousels" data-slide="next">  
				            <span class="glyphicon glyphicon-chevron-right"></span>  
				        </a> 
				</div>
			</div>
			
		</div>
		<!-- 1L 结束 -->

		<!-- 2L 开始-->
		<div class="oneBox row second">
			<!-- 2L-左 重庆MBA 活动预告 -->
			<div class="col-md-3 oneBox_left">
				<div class="oneBox_title">
					<span class="oneBox_title_bd">重庆MBA活动预告</span>
					<a href="/Message/message?pid={$v.id}" class="rt" target="_blank">更多></a>
				</div>
				<div class="oneBox_title_img">
					<!-- 此处为广告位置 -->
					{if $data.ad_foreshowData}
					<img src="{$data.ad_foreshowData.img_path}">
					{/if}
				</div>
				<div class="secondLeft">
					{if $data.foreshowData}
					{foreach name="data.foreshowData" item="v" key="k"}
					<div class="secondLeft_list">
						<a href="/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" target="_blank">
							<div class="secondLeft_list_img lt">
								<p>{$v.ctime|date="m",###}月</p>
								<p>{$v.ctime|date="d",###}日</p>
							</div>
							<div class="secondLeft_list_hd lt">
								<div class="yd">·</div>
								<div class="secondLeft_list_bd">{$v.title}</div>
							</div>
						</a>
					</div>
					{/foreach}
					{/if}
				</div>
			</div>
			<!-- 2L中 招生质询/考试咨询 -->
			<div class="col-md-6 oneBox_center">
				<!-- 招生咨询 -->
				<div class="col-md-12">
					{if $data.programaData}
					{foreach name="data.programaData" item="v" key="k"}
					{if condition="($k == 7)"}
					<div class="oneBox_title">
						<span class="oneBox_title_bd">{$v.cname}</span>
						<a href="/Message/message?pid={$v.id}" class="rt" target="_blank">更多></a>
					</div>
					{/if}
					{/foreach}
					{/if}
					<div class="oneBox_body ">
						<div class="weui-panel__bd">
							{if $data.recruitData}
								{foreach name="data.recruitData" item="v" key="k"}
								{if condition="($k == 0)"}
							<div class="weui-media-box weui-media-box_text pad0">
								<a href="/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" target="_blank">
								  	<h2 class="oneBox_body_list_title">{$v.title}</h2>
								  	<div class="weui-media-box__desc">{$v.tips}</div>
								</a>
							</div>
							{else /}	
							<div class="oneBox_body_list">
									<div class="yd">·</div>
									<div class="oneBox_body_list_bd"><a href="/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" target="_blank">{$v.title}</a></div>
							</div>
							{/if}
							{/foreach}
						{/if}
						</div>
					</div>
				</div>
				<!-- 考试咨询 -->
				<div class="col-md-12">
					{if $data.programaData}
					{foreach name="data.programaData" item="v" key="k"}
					{if condition="($k == 8)"}
					<div class="oneBox_title">
						<span class="oneBox_title_bd">{$v.cname}</span>
						<a href="/Message/message?pid={$v.id}" class="rt" target="_blank">更多></a>
					</div>
					{/if}
					{/foreach}
					{/if}
					<div class="oneBox_body ">
						<div class="weui-panel__bd">
							{if $data.examData}
								{foreach name="data.examData" item="v" key="k"}
								{if condition="($k == 0)"}
							<div class="weui-media-box weui-media-box_text pad0">
								<a href="/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" target="_blank">
								  	<h2 class="oneBox_body_list_title">{$v.title}</h2>
								  	<div class="weui-media-box__desc">{$v.tips}</div>
								</a>
							</div>
							{else /}	
							<div class="oneBox_body_list">
									<div class="yd">·</div>
									<div class="oneBox_body_list_bd"><a href="/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" target="_blank">{$v.title}</a></div>
							</div>
							{/if}
							{/foreach}
						{/if}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 2L 结束 -->
	</div>





	{include file="layouts/right_aside" /}

	<!-- 3L 开始 -->
	<div class="row">
		<!-- 广告位一 -->
		<div class="h20"></div>
		<div class="col-md-12">
			<div class="img">
				{if $data.ad_academy_topData}
				{foreach name="data.ad_academy_topData" item="v" key="k"}
				<a href="{$v.img_link}" target="_blank">
					<img src="{$v.img_path}" class="lt" >
				</a>
				{/foreach}
				{/if}
			</div>
		</div>
		<div class="h10"></div>
	</div>
	<!-- 院校发布 -->
	<div class="row third">
		<!-- 院校发布 -->
		<div class="col-md-12">
			<div class="third_header">
				<h3 >院校发布</h3>
				<div class="third_header_aside_banner">
					<div id="myCarousela" class="carousel slide" data-ride="carousel">
						    <!-- 轮播（Carousel）项目 -->
						    <div class="carousel-inner">
						        <div class="item active">
						        	<div class="third_header_aside">
										<ul>
										{if $data.programaData}
					               	{foreach name="data.programaData" item="v" key="k"}
					                {if condition="($v.type == 1)"}
					                   {volist name="$v.programaSonData" id="vv" offset="0" length='6'}	
										<li><a href="/Message/message?pid={$vv.id}" target="_blank">{$vv.cname}</a></li>
										{/volist}
							                {/if}
							               {/foreach}   
							           {/if}
								        </ul>
									</div>
						        </div>
						        <div class="item">
						        	<div class="third_header_aside">
										<ul>
											{if $data.programaData}
					               	{foreach name="data.programaData" item="v" key="k"}
					                {if condition="($v.type == 1)"}
					                   {volist name="$v.programaSonData" id="vv" offset="6" length='6'}	
										<li><a href="/Message/message?pid={$vv.id}" target="_blank">{$vv.cname}</a></li>
										{/volist}
							                {/if}
							               {/foreach}   
							           {/if}
								        </ul>
									</div>
						        </div>

						    </div>
						    <!-- 轮播（Carousel）导航 -->
						    <a class="carousel-control left" href="#myCarousela" 
						        data-slide="prev">&lsaquo;
						    </a>
						    <a class="carousel-control right" href="#myCarousela" 
						        data-slide="next">&rsaquo;
						    </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row oneBox">
			{if $data.programaData}
               {foreach name="data.programaData" item="v" key="k"}
                {if condition="($v.type == 1)"}
                   {foreach name="$v.programaSonData" item="vv" key="kk"}
			<div class="col-md-4">
					<div class="oneBox_title">
							<span class="oneBox_title_bd">{$vv.cname}</span>
							<a href="/Message/message?pid={$vv.id}" class="rt" target="_blank">更多></a>
					</div>
					<div class="oneBox_body">
					<div class="oneBox_body_list_access">
						{foreach name="$vv.programa_articleData" item="vvv" key="kkk"}
							{if $kkk == 0}
						<div class="oneBox_body">
							<a href="/Websitewap/websitewap?pid={$vvv.pid}&paid={$vvv.id}" class="weui-media-box weui-media-box_appmsg" target="_blank">
							    <div class="weui-media-box__hd">
							      <img class="weui-media-box__thumb" src="{$vvv.cover_path}">
							    </div>
							    <div class="weui-media-box__bd">
							      	<p class="weui-media-box__desc">{$vvv.title}</p>
							    </div>
						    </a>
						</div>
						{else /}
						<div class="oneBox_body_list">
							<div class="yd">·</div>
							<div class="oneBox_body_list_bd"><a href="/Websitewap/websitewap?pid={$vvv.pid}&paid={$vvv.id}" target="_blank">{$vvv.title}</a></div>
						</div>
						{/if}
						{/foreach}
					</div>
				</div>
			</div>
			{/foreach}
                {/if}
               {/foreach}   
           {/if}
		</div>
	</div>
	<div class="row">
		<!-- 广告位 -->
		<!-- 广告位一 -->
		<div class="h10"></div>
		<div class="col-md-12">
			<div class="img2">
				{if $data.ad_exam_topData}
				{foreach name="data.ad_exam_topData" item="v" key="k"}
				<a href="{$v.img_link}" target="_blank">
					<img src="{$v.img_path}" class="lt" title="#" alt="#">
				</a>
				{/foreach}
				{/if}
			</div>
		</div>
		<div class="h10"></div>
	</div>
	<!-- 3L 结束 -->

	<!-- 4L 开始 -->
	<div class="row third">
		<!-- 考试咨询 综合咨询 初试 复试 英语 数学 逻辑 写作 -->
		<div class="col-md-12">
			<div class="third_header">
				<h3 >考试咨询</h3>
				<div class="third_header_aside_banner">
					<div id="myCarousel" class="carousel slide">
					    <!-- 轮播（Carousel）项目 -->
					    <div class="carousel-inner">
					        <div class="item active">
					        	<div class="third_header_aside">
									<ul>
							           	{if $data.programaData}
					               	{foreach name="data.programaData" item="v" key="k"}
					                {if condition="($v.type == 2)"}
					                   {volist name="$v.programaSonData" id="vv" offset="0" length='6'}	
										<li><a href="/Message/message?pid={$vv.id}" target="_blank">{$vv.cname}</a></li>
										{/volist}
							                {/if}
							               {/foreach}   
							           {/if}
							        </ul>
								</div>
					        </div>
					        <div class="item">
					        	<div class="third_header_aside">
									<ul>
							           	{if $data.programaData}
					               	{foreach name="data.programaData" item="v" key="k"}
					                {if condition="($v.type == 2)"}
					                   {volist name="$v.programaSonData" id="vv" offset="0" length='6'}	
										<li><a href="/Message/message?pid={$vv.id}" target="_blank">{$vv.cname}</a></li>
										{/volist}
							                {/if}
							               {/foreach}   
							           {/if}
							        </ul>
								</div>
					        </div>

					    </div>
					    <!-- 轮播（Carousel）导航 -->
					    <a class="carousel-control left" href="#myCarousel" 
					        data-slide="prev">&lsaquo;
					    </a>
					    <a class="carousel-control right" href="#myCarousel" 
					        data-slide="next">&rsaquo;
					    </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row oneBox">
			{if $data.programaData}
               {foreach name="data.programaData" item="v" key="k"}
                {if condition="($v.type == 2)"}
                   {volist name="$v.programaSonData" id="vv" offset="0" length='6'}
			<div class="col-md-4">
					<div class="oneBox_title">
							<span class="oneBox_title_bd">{$vv.cname}</span>
							<a href="/Message/message?pid={$vv.id}&cname={$vv.cname}" class="rt" target="_blank">更多></a>
					</div>
					<div class="oneBox_body">
					<div class="oneBox_body_list_access">
						{foreach name="$vv.programa_articleData" item="vvv" key="kkk"}
							{if $kkk == 0}
						<div class="oneBox_body">
							<a href="/Websitewap/websitewap?pid={$vvv.pid}&paid={$vvv.id}" class="weui-media-box weui-media-box_appmsg" target="_blank">
							    <div class="weui-media-box__hd">
							      <img class="weui-media-box__thumb" src="{$vvv.cover_path}">
							    </div>
							    <div class="weui-media-box__bd">
							      	<p class="weui-media-box__desc">{$vvv.title}</p>
							    </div>
						    </a>
						</div>
						{else /}
						<div class="oneBox_body_list">
							<div class="yd">·</div>
							<div class="oneBox_body_list_bd"><a href="/Websitewap/websitewap?pid={$vvv.pid}&paid={$vvv.id}"
							 target="_blank">{$vvv.title}</a></div>
						</div>
						{/if}
						{/foreach}
					</div>
				</div>
			</div>
			{/volist}
                {/if}
               {/foreach}   
           {/if}
		</div>
	<!-- 4L 结束 -->
	<div class="row third">
		<div class="col-md-12">
			<div class="third_header">
				<h3 >合作伙伴</h3>
			</div>
		</div>
		<div class="row">
				<!-- 广告位一 -->
			<div class="h10"></div>
			<div class="col-md-12">
				<div class="img3">
					{if $data.ad_partnerData}
					{foreach name="data.ad_partnerData" item="v" key="k"}
					<a href="{$v.img_link}" target="_blank">
						<img src="{$v.img_path}" class="lt" target="_blank">
					</a>
					{/foreach}
					{/if}
				</div>
			</div>
			<div class="h10"></div>
		</div>
	</div>
</div>


{include file="layouts/footer" /}