{include file="layouts/header" /}

<!-- 当前页面css -->
    {css href="/static/index/websitewap/css/websitewap.css" /}
<div class="main_topnav">
	<div class="mainwd">
		<!-- <p>您的位置 : <a href="/Index/index" target="_blank">首页</a>><a href="#" class="cname"></a></p> -->
		<ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  {if condition="($pid)"}
		  <li><a href="/zs/{$pid}.shtml">{$data.programaCname}</a></li>
		  <li class="active">{$data.programa_articleTitle}</li>
		  {/if}
		</ol>
	</div>
</div>
<div class="container">

	<!-- 左边列表样式 -->
	<div class="left_aside lt" >
		{if $data.programa_articleData}
		<div class="article_bd" >
			<h1>{$data.programa_articleData.title}</h1>
			<div class="title-box">
					<!-- 时间 -->
				 <span style="margin-right:20px;">{$data.programa_articleData.notice_date}</span>
				 	<!-- 来源 -->
				 <span> 来源 : {$data.programa_articleData.source}</span>
			</div>
			<div class="content">
				{$data.programa_articleData.content}
			</div>
		</div>
		{/if}

	</div>
	<!-- 引入公共右部样式 -->
	{include file="layouts/right_aside" /}
</div>

{include file="layouts/footer" /}
{js href="/static/index/message/js/message.js" /}