<!-- 当前页面css -->
    {css href="/static/template2/layouts/css/right_aside.css" /}

<div class="rt right_aside">
	<div class="oneBox first">
		<!-- 招考广告  -->
		<div class="row ">
			<div class="oneBox_right col-md-12">
					<!-- 招考广告 -->
					<div class="col-md-12 pad0">

					<div class="oneBox_title">
						<span class="oneBox_title_bd">招考广告</span>
						<a href="/template2/Message/message?type=4" class="rt" target="_blank">更多></a>
					</div>

						<div class="oneBox_body">
							{if $data.announcementData}
							{foreach name="data.announcementData" item="v" key="k"}
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="template2/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" target="_blank">{$v.title}</a></div>
							</div>
							{/foreach}
							{/if}
						</div>
					</div>
					<!-- 广告位 -->
			</div>
			<div class="col-md-12 oneBox_right pad0">
					<div class="col-md-12">
						<div class="oneBox_title">
							<span class="oneBox_title_bd">请扫描下方二维码</span>
						</div>
						<div class="h10"></div>
						<div class="oneBox_top_ad">
							{if $data.ad_informationData}
							<a href="{$data.ad_informationData.img_link}" target="_blank">
							<img src="{$data.ad_informationData.img_path}">
							</a>
							{/if}
						</div>
						<div class="h10"></div>
					</div>
					<!-- 手机站(二维码/域名) -->
					<div class="col-md-12">
							<div class="lt second_QR_hd">
								<span>手机站二维码</span>
							</div>
							<div class="lt second_phone_img">
								{if $data.qr_code_phoneData}
								<img src="{$data.qr_code_phoneData.img_path}" alt="手机站二维码" title="手机站二维码">
								{/if}
							</div>
							
					</div>
					<div class="h10"></div>
					<!-- 微信 -->
					<div class="col-md-12">
							<div class="lt second_QR_hd">
									<span>公众号二维码</span>
							</div>
							<div class="lt second_phone_img">
								{if $data.qr_code_publicData}
								<img src="{$data.qr_code_publicData.img_path}" alt="公众号二维码" title="公众号二维码">
								{/if}
							</div>
					</div>
					<div class="h24"></div>
					<!-- 院校推荐 -->
					<div class="col-md-12">

						<div class="oneBox_title">
							<span class="oneBox_title_bd">院校推荐</span>
							<a href="template2/Message/message?type=6" class="rt" target="_blank">更多></a>
						</div>
		
						<div class="oneBox_body">
							{if $data.recommendData}
							{foreach name="data.recommendData" item="v" key="k"}
							<div class="oneBox_body_list">
								<div class="yd">·</div>
								<div class="oneBox_body_list_bd"><a href="template2/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" target="_blank">{$v.title}</a></div>
							</div>
							{/foreach}
							{/if}
						</div>
						<!-- 广告位 -->
						<div class="oneBox_top_ad">
							{if $data.ad_academyData}
							<a href="{$data.ad_academyData.img_link}" target="_blank">
							<img src="{$data.ad_academyData.img_path}">
							</a>
							{/if}
						</div>

					</div>
			</div>
		</div>


	</div>
		
</div>
