a{
  text-decoration: none!important;
  color: #333;
}
ul,li{list-style-type: none;}
body{
	font-family: 'Microsoft YaHei';
	min-width: 1250px;
	color: #333;
	text-align: left;
	font-size: 12px;
}

.lt{float: left;}
.rt{float: right;}
.both{clear: both;}
.textR{text-align: right;}
.textCon{text-align: center;}
.colorFFF{color: #fff;}
.fs14{font-size: 14px;}
.pad0{padding: 0;}
.h10{display: block;width: 100%;height: 10px;clear: both;font-size: 0;}
		/***************头部样式开始  start  *********************/
.header,.footer{min-width: 1220px;}
.top-nav-wrapper{width: 100%;background-color: #F7F9FA;height: 40px;line-height: 40px;bottom-bottom:1px solid #ddd; }
.top-nav-wrapper:after{content: '';display:block;clear: both;}
.top-nav-wrapper .top-nav-index{width: 1220px;margin: 0 auto;}
.top-nav-wrapper .top-nav-index .top-list{width: 40%;float: left;}
.top-nav-wrapper .top-nav-index .top-list_left{width: 60%;}
.top-nav-wrapper .top-nav-index .top-list_left a:nth-child(1){margin:0;}
.header-index-img{width: 350px;padding-right:15px; }
img{width: 100%;height: 100%;}
.top-nav-wrapper .top-nav-index .top-list a{margin-left:20px; }
.header-wrapper .header-index{width: 1220px;height: 100px;margin: 0 auto;overflow: hidden;zoom:1; }
.header-wrapper .header-index .header-index-ad{width: 490px;height: 100px;padding:10px 0;}
.header-wrapper .header-index .header-index-search{width:360px;margin-left: 20px;height: 100px;line-height: 100px; }
.header-index-search input{width: 305px;height: 40px;border: 1px solid #1787e0;line-height: 40px;padding:0 8px;vertical-align: middle;}
.header-index-search .search_btn{width: 56px;height: 40px;border: none;background-color: #1787e0;
	cursor: pointer;vertical-align: middle;margin-left: -5px;position: relative;}
.header-index-search .search_btn i{color: #fff;font-size: 22px;position: absolute;left: 30%;top:25%;}

.header-nav-box{width: 100%;background-color: #1787e0;}
.header-nav-box .nav-box{width: 1220px;min-height: 106px;margin: 0 auto; overflow: hidden;}

.nav-box li{float: left;color: #fff;}

.nav-box li a{color: #fff;}
.nav-box .nav-title{float: left;line-height: 106px;margin-right: 25px;font-size: 16px;font-weight: bold;}
.nav-box .nav-td{float: left;margin: 12px 0;padding-right: 30px;border-right: 2px solid #459ce3;font-size: 14px;min-height: 82px;}
.nav-box .nav-second .nav-td{width: 230px;}
.nav-box .nav-third .nav-td{width: 460px;}
.nav-box .nav-fourth .nav-td{width: 236px;}
.nav-td li{height: 28px;line-height: 28px;margin-left: 10px;padding: 0;border-bottom: 0;}
/*.nav-fourth li{width: 68px;text-align: right;}*/
.nav-second .nav-title,.nav-third .nav-title,.nav-fourth .nav-title{margin-left: 20px;}
.nav-fourth .nav-td{border-right: 0;padding-right: 0;}
		/***************头部样式开始  end  *********************/


		/***************尾部样式  start  *********************/
.footer{width: 100%;}
.partner .partner_title{height: 40px;font-size: 16px;font-weight: 500;padding-left: 10px;}
.partner_box{width: 1180px;margin: 20px auto;height: 120px;}
.partner_box ul li{float: left;width: 190px;height: 60px;margin-right: 8px;margin-bottom: 10px;}
.partner_box ul li:nth-child(6),.partner_box ul li:nth-child(12){margin-right: 0;}
.partner_box ul li img{width: 100%;height: 100%;}
.footer_link{padding:20px 0;}
.footer_link_hd{background: url(/static/images/icon.png)no-repeat;width:150px; height: 45px;}
.footer_link_hd_span{ border-left: 2px solid #fff;font-size: 20px;font-weight: 600;padding-left:15px;line-height: 45px;
		margin-left: 15px;color: #fff;}
.main_footer_bottom{text-align: center;padding-top: 20px;}
.main_footer_bottom p a{padding: 5px 10px;}
.footer_link p a{;line-height: 25px;font-size: 14px;}
.third_header{border-bottom: 2px solid #f5f5f5;width: 100%;height: 48px;}
.third_header h3{float: left;display:block;padding: 9px 0 11px;font-size: 24px;font-weight: 400;
	border-bottom: 3px solid #1787e0;margin: 0;}
		/***************尾部样式  start  *********************/

/*主体宽度*/
.container{width: 1250px;margin: 0 auto;}
div.last_span  span:last-child {display: none;}