{include file="layouts/header" /}

    <!-- 当前页面css -->
    {css href="/static/wap/index/css/index.css" /}
<div class="container">
	<div class="weui-search-bar" id="searchBar">
	  	<form class="weui-search-bar__form" action="/wap/Base/search" method="POST">
	    	<div class="weui-search-bar__box">
	      		<i class="weui-icon-search"></i>
	      		<input type="text" class="weui-search-bar__input"  placeholder="搜索" name="search">
	      	<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
	    	</div>
	    	<label class="weui-search-bar__label" id="searchText">
	      		<i class="weui-icon-search"></i>
	      		<input type="submit" value="搜索" class="btn_submit">
	   		</label>
	  	</form>
	  <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
	</div>

	{if $data.announcementData}
	<div class="weui-panel weui-panel_access ">
	  <div class="weui-panel__hd ">
	  	<span>招考公告</span>
	  	<a href="/wap/Message/message?type=4">进入栏目></a>
	  </div>
	  	<div class="weui-panel__bd">
	  		{foreach name="data.announcementData" item="v" key="k"}
		    <a href="/wap/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" class="weui-media-box weui-media-box_appmsg">
		    	{if condition="($k eq 0)"}
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" src="{$v.cover_path}">
		      </div>
		      {/if}
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title whiteSpace">{$v.title}</h4>
		      </div>
		    </a>
		   {/foreach}
	  	</div>
	</div>
	{/if}
	{if $data.recommendData}
	<div class="weui-panel weui-panel_access">
	  <div class="weui-panel__hd">
	  	<span>院校推荐</span>
	  	<a href="/wap/Message/message?type=6">进入栏目></a>
	  </div>
	  	<div class="weui-panel__bd">
		    {foreach name="data.recommendData" item="v" key="k"}
		    <a href="/wap/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" class="weui-media-box weui-media-box_appmsg">
		    	{if condition="($k eq 0)"}
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" src="{$v.cover_path}">
		      </div>
		      {/if}
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title whiteSpace">{$v.title}</h4>
		      </div>
		    </a>
		   {/foreach}
	  	</div>
	</div>
	{/if}
	{if $data.hotData}
	<div class="weui-panel weui-panel_access">
	  <div class="weui-panel__hd">
	  	<span>MBA热点关注</span>
	  	<a href="/wap/Message/message?type=3">进入栏目></a>
	  </div>
	  	<div class="weui-panel__bd">
		    {foreach name="data.hotData" item="v" key="k"}
		    <a href="/wap/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" class="weui-media-box weui-media-box_appmsg">
		    	{if condition="($k eq 0)"}
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" src="{$v.cover_path}">
		      </div>
		      {/if}
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title whiteSpace">{$v.title}</h4>
		      </div>
		    </a>
		   {/foreach}
	  	</div>
	</div>
	{/if}
		{if $data.foreshowData}
	<div class="weui-panel weui-panel_access">
	  <div class="weui-panel__hd">
	  	<span>MBA活动预告</span>
	  	<a href="/wap/Message/message?type=5">进入栏目></a>
	  </div>
	  	<div class="weui-panel__bd">
		    {foreach name="data.foreshowData" item="v" key="k"}
		    <a href="/wap/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" class="weui-media-box weui-media-box_appmsg">
		    	{if condition="($k eq 0)"}
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" src="{$v.cover_path}">
		      </div>
		      {/if}
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title whiteSpace">{$v.title}</h4>
		      </div>
		    </a>
		   {/foreach}
	  	</div>
	</div>
	{/if}
	{if $data.recruitData}
	<div class="weui-panel weui-panel_access">
	  <div class="weui-panel__hd">
	  	<span>招生咨询</span>
	  	<a href="/wap/Message/message?type=7">进入栏目></a>
	  </div>
	  	<div class="weui-panel__bd">
		    {foreach name="data.recruitData" item="v" key="k"}
		    <a href="/wap/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" class="weui-media-box weui-media-box_appmsg">
		    	{if condition="($k eq 0)"}
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" src="{$v.cover_path}">
		      </div>
		      {/if}
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title whiteSpace">{$v.title}</h4>
		      </div>
		    </a>
		   {/foreach}
	  	</div>
	</div>
	{/if}
	{if $data.examData}
	<div class="weui-panel weui-panel_access">
	  	<div class="weui-panel__hd">
	  		<span>考试资讯</span>
	  		<a href="/wap/Message/message?type=8">进入栏目></a>
	  	</div>
	  <div class="weui-panel__bd">
	    {foreach name="data.examData" item="v" key="k"}
	    <a href="/wap/Websitewap/websitewap?pid={$v.pid}&paid={$v.id}" class="weui-media-box weui-media-box_appmsg">
		    {if condition="($k eq 0)"}
	      <div class="weui-media-box__hd">
	        <img class="weui-media-box__thumb" src="{$v.cover_path}">
	      </div>
	      {/if}
	      <div class="weui-media-box__bd">
	        <h4 class="weui-media-box__title whiteSpace">{$v.title}</h4>
	      </div>
	    </a>
	   {/foreach}
	  </div>
	</div>
	{/if}
</div>



{include file="layouts/footer" /}
