  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu">
            <li class="site-menu-category">导航</li>
            <li {if condition="($active eq 'Index')"}class="site-menu-item has-sub active"{else /}class="site-menu-item has-sub"{/if}>
              <a class="animsition-link" href="/admin/Index/index" data-slug="dashboard">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">首页</span>
              </a>
            </li>
            <li {if condition="($active eq 'Programa')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">栏目管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                {if condition="($Think.session.adminUser.type eq 0)"}
                <li {if condition="($action eq 'Programa/add')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/Programa/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加栏目</span>
                  </a>
                </li>
                {/if}
                <li {if condition="($action eq 'Programa/index')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/Programa/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">栏目列表</span>
                  </a>
                </li>
              </ul>
            </li>
            {if condition="($Think.session.adminUser.type eq 0)"}
            <li {if condition="($active eq 'AdminUser')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">用户管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li {if condition="($action eq 'AdminUser/add')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/AdminUser/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加用户</span>
                  </a>
                </li>
                <li {if condition="($action eq 'AdminUser/index')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/AdminUser/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">用户列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'Banner')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">Banner管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li {if condition="($action eq 'Banner/add')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/Banner/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加Banner</span>
                  </a>
                </li>
                <li {if condition="($action eq 'Banner/index')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/Banner/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">Banner列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdForeshow')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">活动预告广告管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li {if condition="($action eq 'AdForeshow/add')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/AdForeshow/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加广告</span>
                  </a>
                </li>
                <li {if condition="($action eq 'AdForeshow/index')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/AdForeshow/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">广告列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdAcademy')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">院校推荐广告管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li {if condition="($action eq 'AdAcademy/add')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/AdAcademy/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加广告</span>
                  </a>
                </li>
                <li {if condition="($action eq 'AdAcademy/index')"}class="site-menu-item active"{else /}class="site-menu-item"{/if}>
                  <a class="animsition-link" href="/admin/AdAcademy/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">广告列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdTop')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">顶部广告管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdTop/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加广告</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdTop/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">广告列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdInformation')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">资讯热线广告管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdInformation/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加广告</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdInformation/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">广告列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdAcademyTop')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">院校发布广告管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdAcademyTop/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加广告</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdAcademyTop/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">广告列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdExamTop')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">考试资讯广告管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdExamTop/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加广告</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdExamTop/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">广告列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdPartner')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">合作伙伴广告管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdPartner/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加广告</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdPartner/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">广告列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AdLogo')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">Logo管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdLogo/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加Logo</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AdLogo/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">Logo列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'QrCodePhone')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">手机二维码管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/QrCodePhone/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加二维码</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/QrCodePhone/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">二维码列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'QrCodePublic')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">公众号二维码管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/QrCodePublic/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加二维码</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/QrCodePublic/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">二维码列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'Blogroll')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">友情链接管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/Blogroll/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加友情链接</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/Blogroll/index" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">友情链接列表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'AboutUs')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">关于我们管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/AboutUs/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加关于我们</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'Webstat')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">底部信息管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/Webstat/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">添加底部信息</span>
                  </a>
                </li>
              </ul>
            </li>
            <li {if condition="($active eq 'Website')"}class="site-menu-item has-sub active open"{else /}class="site-menu-item has-sub"{/if}>
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">站点管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/admin/Website/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">配置站点</span>
                  </a>
                </li>
              </ul>
            </li>
            {/if}
          </ul>
        </div>
      </div>
    </div>
  </div>