{include file="layouts/header" /}

<!-- 当前页面css -->
    {css href="/static/message/css/message.css" /}
<div class="main_topnav">
	<div class="mainwd">
		<p>您的位置 <a href="#">首页</a>><a href="#">招生公告</a></p>
	</div>
</div>
<div class="container">
		
	<!-- 左边列表样式 -->
	<div class="left_aside lt">
		<div class="item_bd">
			<div class="item_list">
				<div class="item_list_img lt">
					<img src="/static/images/banner.png">
				</div>
				<div class="item_list_con rt">
					<h2><a href="#">中国地质大学(武汉)2018年接收推免生章程</a></h2>
					<p>
						<a href="#">为做好接收2018年推免生工作，加强科学选拔，规范工作程序，保证公平公正，根据教育部有关推免生工作管理办法，结合我校实际，制定本章程。<br>一、接收专业、人数及学制1. 2018年我校在理、工、文、管、经、法、教、哲、艺9个学科门类的51个学术学位专业和资产评估、法律、翻译、工程、艺术、体育6个专业学位类别。</a>
					</p>
					<p class="item_list_con_time">
						<span>发布时间 ： 2017-09-06 16:14:02</span>
					</p>
				</div>
			</div>
			<div class="item_list">
				<div class="item_list_img lt">
					<img src="/static/images/banner.png">
				</div>
				<div class="item_list_con rt">
					<h2><a href="#">中国地质大学(武汉)2018年接收推免生章程</a></h2>
					<p>
						<a href="#">为做好接收2018年推免生工作，加强科学选拔，规范工作程序，保证公平公正，根据教育部有关推免生工作管理办法，结合我校实际，制定本章程。<br>一、接收专业、人数及学制1. 2018年我校在理、工、文、管、经、法、教、哲、艺9个学科门类的51个学术学位专业和资产评估、法律、翻译、工程、艺术、体育6个专业学位类别。</a>
					</p>
					<p class="item_list_con_time">
						<span>发布时间 ： 2017-09-06 16:14:02</span>
					</p>
				</div>
			</div>
			<div class="item_list">
				<div class="item_list_img lt">
					<img src="/static/images/banner.png">
				</div>
				<div class="item_list_con rt">
					<h2><a href="#">中国地质大学(武汉)2018年接收推免生章程</a></h2>
					<p>
						<a href="#">为做好接收2018年推免生工作，加强科学选拔，规范工作程序，保证公平公正，根据教育部有关推免生工作管理办法，结合我校实际，制定本章程。<br>一、接收专业、人数及学制1. 2018年我校在理、工、文、管、经、法、教、哲、艺9个学科门类的51个学术学位专业和资产评估、法律、翻译、工程、艺术、体育6个专业学位类别。</a>
					</p>
					<p class="item_list_con_time">
						<span>发布时间 ： 2017-09-06 16:14:02</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 引入公共右部样式 -->
	{include file="layouts/right_aside" /}
</div>

{include file="layouts/footer" /}