{include file="layouts/header" /}

    <!-- 当前页面css -->
    {css href="/static/app/websitewap/css/websitewap.css" /}

<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="breadcrumb">
                <li>
                    <a href="/app/index/index">首页</a>
                </li>
                {if condition="($pid)"}
                  <li><a href="/app/Message/message?pid={$pid}">{$data.programaCname}</a></li>
                  <li class="active webstyle">{$data.programa_articleTitle}</li>
                  {/if}
            </ul>
        </div>
        <div class="content">
            {if $data.programa_articleData}
        	<h2>{$data.programa_articleData.title}</h2>
        	<div class="title-box">
        		<span class="news-time">{$data.programa_articleData.ctime|date="Y-m-d",###}</span>
        	</div>
        	<div class="content-box">
                {$data.programa_articleData.content}
        	</div>
            {/if}
        </div>
    </div>
</div>

{include file="layouts/footer" /}